body {
    background-color: #000000;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    color: #ffffff;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.title {
    text-align: center;
    color: #ffffff;
    margin-right: 5px;
}

.result {
    text-align: center;
    color: #ffffff;
}

.container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}